{% load static %}
{% include 'header.html' %}
<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <div class="section-subtitle">
                        About Us
                    </div>
                    <h2 class="section-main-title">WE Are<strong> Professionals</strong></h2>

                </div>
                <div class="about-itme">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>

                </div>
            </div>

            <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{% static 'images/transport4.jpg' %}">

                </div>

            </div>

        </div>

    </div>
</section>