{% extends 'admin_navigation.html' %}
{% block content %}


<h4 class="p-2 font-weight-bold " style="border-bottom: 2px solid orange; color: maroon;"> Search Booking</h4>


    
        <div class="card shadow mt-4" style="border-top: 2px solid orange;">
            <div class="card-body">

                <div class="container-fluid">
                     <!--Form start from here-->

  <form class="container mt-2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row" style="background-color: blueviolet;">
        <div class="col-sm-12">
            <div class="form-group">
            
                <label><b>Search by Name/Contact Number</b></label>
                <input type="text" class="form-control" name="searchdata" placeholder="Enter Name / Contact Number" required style="background-color: beige;">

            </div>
        </div>

    </div>

    <input type="submit" class="btn btn-primary" style="margin-top : 2% ; color : white ; background-color : mediumslateblue ; font-weight : bold ">

</form>

     <h4 align = "center">Result agains " {{sd}} " Keyword</h4>
       <!--Table start Table here-->
       <table class="table table-bordered table-hover" id="example">
        <thead style="background-color: maroon; color: white;">
            <tr>
                <th>S_No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
               
                
            </tr>
        </thead>

        <tbody>
            {% for i in booking %}
            <tr style="background-color: beige;">
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.mobile}}</td>
                <td><a href="{% url 'view_bookingdetail' i.id %}" style="color: mediumpurple;">View Details</a>
                   | <a href="{% url 'delete_booking' i.id %}" style="color: red;" onclick="return confirm('Are you sure ? Want to delete this record')">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No result found against this keyword "{{sd}}"</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




               </div>

        </div>

{% endblock %}