{% extends 'admin_navigation.html' %}

{% block content %}
 
        
 
<div class="card shadow" style="border-top: 2px solid orangered;">
            <h4 class="p-2 font-weight-bold " style="border-bottom: 2px solid orangered; color: maroon;"> View Enquiry Detail </h4>
            <div class="card-body">

                <div class="container-fluid">
                     <!--Table start Table here-->
                     <table class="table table-bordered table-hover" id="example">
                         <tr align="center">
                            <td colspan="4" style="font-size: 20px; color: beige; background-color: maroon ;"> Messages Detail</td>
                         </tr>
                         
                         <tr style="background-color: bisque;">
                             <th style="color: maroon;">Name</th>
                             <td>{{messages.name}}</td>
                             <th style="color: maroon;">Contact Number</th>
                             <td>{{messages.number}}</td>
                        </tr>

                        <tr style="background-color: bisque;">
                            <th style="color: maroon;">Email ID</th>
                            <td>{{messages.email}}</td>
                            <th style="color: maroon;">Subject</th>
                            <td>{{messages.subject}}</td>
                       </tr>


                    

                        <tr style="background-color: bisque;">

                            <th colspan="1" style="color: maroon;"> Message  </th>
                            <td colspan="3">{{messages.message}}</td>

                        </tr>
                        <tr style="background-color: bisque;">

                            <th colspan="1" style="color: maroon;"> Message Date  </th>
                            <td colspan="3">{{messages.msg_date}}</td>

                        </tr>

                    </table>

  

                </div>
            </div>

        </div>


       


{% endblock %}